$primary-gray:rgba(161, 161, 161, 0.371);
$margL: 3.7rem;
$margT:1rem;
#closeForm{
    border: none;
    border-radius: 100%;
}

#form{
    margin-top: 3.5rem;
    background-color:white;
    //width: 50rem;
    margin-left: 1rem;
    border-radius: .5rem;
}

#login__card{
    border-radius: 1rem;
    background: rgb(119,124,124);
    background: linear-gradient(0deg, rgba(119,124,124,0.2920518549216562) 0%, rgba(185,205,205,0.3200630594034489) 55%, rgba(240,235,225,0.1632003143054097) 100%);
}

#login__button{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#login__button::after{
    content: "";
    display: block;
    width: 0px;
    height: 24px;
    overflow: hidden;
    background-image: url(../images/iconmonstr-arrow-right-thin.svg);
    transition: width 200ms, margin-left 200ms;

}

#login__button:is(:hover,:focus)::after {
    width: 24px;
    margin-left: 8px;
}