$primary-gray:rgba(161, 161, 161, 0.371);
$margL: 3.7rem;
$margT:1rem;
#closeForm{
    border: none;
    border-radius: 100%;
}

#form{
    margin-top: 3.5rem;
    background-color:white;
    width: 50rem;
    margin-left: 1rem;
    border-radius: .5rem;
}
#top-Wrapper{
    margin-top: $margT;
}
#photo{
    margin-left: $margL;
    margin-top:$margT;
    color: black;
    border:solid $primary-gray;
    width: 13.5rem;
    height: 2.5rem;
    text-align: center;
    border-radius: .5rem;
    
}

#userName{
    margin-left: 1rem;
    border:solid $primary-gray;
    width: 13.5rem;
    height: 2.5rem;
    text-align: center;
    border-radius: .5rem;
    
}
#pph{
    margin-left: 1rem;
    border:solid $primary-gray;
    width: 13.5rem;
    height: 2.5rem;
    text-align: center;
    border-radius: .5rem;
}

#title{
    margin-left: $margL;
    margin-top: $margT;
    width: 90%;
    color:black ;
    border: none;
    font-size:3rem;
    font-weight: 800;
    
}

#tag{
    margin-left: $margL;
    margin-top: .5rem;
    width: 90%;
    border: none;
}
#editingLine{
    margin-top: 2rem;
    width: 100%;
    height: 3rem;
    background-color:rgba(246, 246, 246, 0.883);
}
.crayons-icon{
    width: 50%;
    border-radius: 10%;   
}
.crayons-icon:hover{
    background-color: rgba(124, 75, 203, 0.185);  
}
.crayons-iconDot{
    width: 20%;
    border-radius: 10%;
    
}

.crayons-iconDot:hover{
    background-color: rgba(124, 75, 203, 0.185);  
}
#content{
    margin-left: $margL;
    margin-top: $margT;
    width: 90%;
    height: 6rem;
    border:none;
    font-family: monospace;
}

#create{
    margin-left: 2rem;
    margin-top: $margT;
    margin-bottom: .8rem;
    width: 20%;
}

#btnUpdate{
    margin-left: 2rem;
    margin-top: $margT;
    margin-bottom: .8rem;
    width: 20%;  
}
#btnDelete{
    margin-left: 1.5rem;
    margin-top: $margT;
    margin-bottom: .8rem;
    width: 10%;  
    background-color: darkred;
}
#readTime{
    margin-left: $margL;
    margin-top:$margT;
    width: 80%;
    border: none;
}
#date{
    margin-left: $margL;
    margin-top:$margT;
    width: 80%;
    border: none;
}

.navCreatePost{
    background-color: rgba(255, 255, 255, 0);
}

//edit dentro del post
#editBox{
    background-color: rgb(255, 188, 63);
}
